@import "../abstracts/variables.scss";
@import "../fonts.scss";

.catalog {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto 24px auto;

  @media (min-width: $tabletWidth) {
    margin: 0 auto;
    width: 720px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 auto 5px auto;
    width: 1240px;
  }
}

.catalog__title-wrapper {
  border-top: 1px solid $gallery;
  border-bottom: 1px solid $gallery;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

  @media (min-width: $tabletWidth) {
    padding: 10px 0 0 15px;
    margin: 0 0 163px 0;
    border: 0;
  }

  @media (min-width: $desktopWidth) {
    padding: 0 0 0 20px;
    margin: 0 0 163px 0;
  }
}

.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  margin: 0;
  display: block;
  padding: 27px 0 41px 0;
  text-align: left;

  @media (min-width: $tabletWidth) {
    font-size: 60px;
    line-height: 60px;
    border: 0;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  @media (min-width: $desktopWidth) {
    margin: 0;
  }
}

.catalog__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  @media (min-width: $tabletWidth) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 64px 0;
    padding: 0 0 0 15px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 70px 0;
    padding: 0 0 0 20px;
  }
}

.catalog__item-wrapper {
  display: flex;
  flex-direction: row;
  width: 280px;
  padding: 18px 0 10px 35px;
  margin: 0;
  box-sizing: border-box;

  @media (min-width: $tabletWidth) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktopWidth) {
    width: 180px;
  }
}

.catalog__extra-wrapper {
  display: flex;
  flex-direction: column;
  width: 139px;

  @media (min-width: $tabletWidth) {
    align-items: center;
  }

  @media (min-width: $desktopWidth) {
    padding: 0 0 0 13px;
    width: 180px;
    align-items: flex-start;
  }
}

.catalog__extra-item {
  display: flex;
  justify-content: space-between;
  width: 139px;

  @media (min-width: $tabletWidth) {
    width: 245px;
    margin: 0 0 9px 0;
    border-bottom: 1px solid $silver;
    justify-content: space-between;
    padding: 0 0 6px 5px;
  }

  @media (min-width: $desktopWidth) {
    display: flex;
    width: 170px;
    padding: 0 0 8px 0;
    margin: 0 0 7px 0;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  border-bottom: 1px solid $gallery;
  padding: 3px 0 20px 0;
  align-items: center;

  @media (min-width: $tabletWidth) {
    background-color: $concrete;
    margin: 0 0 141px 0;
    padding: 160px 0 39px 0;
    width: 322px;
    position: relative;
  }

  @media (min-width: $desktopWidth) {
    width: 245px;
    padding: 162px 0 40px 0;
    margin: 0 0 142px 0;
    position: relative;
  }
}

.catalog__item:nth-child(even) .catalog__item-wrapper {
  padding: 20px 0 10px 29px;

  @media (min-width: $tabletWidth) {
    padding: 0;
  }
}

.catalog__item:nth-child(3) .catalog__item-wrapper {
  padding: 22px 0 10px 35px;

  @media (min-width: $tabletWidth) {
    padding: 0;
  }
}

.catalog__item:nth-child(5) .catalog__item-wrapper {
  padding: 22px 0 10px 35px;

  @media (min-width: $tabletWidth) {
    padding: 0;
  }
}

.catalog__item:nth-child(7) .catalog__item-wrapper {
  padding: 22px 0 10px 35px;

  @media (min-width: $tabletWidth) {
    padding: 0;
  }
}

.catalog__image {
  margin: 12px 38px 0 0;
  display: flex;

  @media (min-width: $tabletWidth) {
    position: absolute;
    top: -58px;
    left: 81px;
    width: 161px;
    height: 172px;
  }

  @media (min-width: $desktopWidth) {
    position: absolute;
    top: -64px;
    left: 42px;
  }
}

.catalog__item:nth-child(even) .catalog__image {
  margin: 11px 26px 0 0;

  @media (min-width: $tabletWidth) {
    position: absolute;
    top: -85px;
    left: 78px;
    width: 168px;
    height: 206px;
  }

  @media (min-width: $desktopWidth) {
    position: absolute;
    top: -90px;
    left: 40px;
    width: 172px;
    height: 202px;
  }
}

.catalog__item:nth-child(3) .catalog__image {
  margin: 28px 36px 0 0;

  @media (min-width: $tabletWidth) {
    margin: 0;
    top: -48px;
    width: 163px;
    height: 174px;
  }

  @media (min-width: $desktopWidth) {
    top: -52px;
  }
}

.catalog__item:nth-child(5) .catalog__image {
  margin: 28px 36px 0 0;

  @media (min-width: $tabletWidth) {
    margin: 0;
    top: -45px;
    width: 161px;
    height: 171px;
  }

  @media (min-width: $desktopWidth) {
    top: -52px;
  }
}

.catalog__item:nth-child(7) .catalog__image {
  margin: 28px 36px 0 0;

  @media (min-width: $tabletWidth) {
    margin: 0;
    top: -45px;
    width: 163px;
    height: 174px;
  }

  @media (min-width: $desktopWidth) {
    top: -52px;
  }
}

.catalog__item:nth-child(2) {
  @media (min-width: $desktopWidth) {
    margin: 0 8px 142px 0;
  }
}

.catalog__item:nth-child(5) {
  @media (min-width: $desktopWidth) {
    margin: 0 6px 0 0;
  }
}

.catalog__item:nth-child(6) {
  @media (min-width: $desktopWidth) {
    margin-bottom: 0;
  }
}

.catalog__item:nth-child(7) {
  @media (min-width: $tabletWidth) {
    margin: 0 8px 0 0;
  }
}

.catalog__item:last-child {
  position: relative;
  padding: 8px 0 0 0;

  @media (min-width: $tabletWidth) {
    background-color: $white;
    border: 2px solid $concrete;
    padding: 160px 37px 38px 37px;
    width: 245px;
    margin: 0;
  }

  @media (min-width: $desktopWidth) {
    width: 245px;
    padding: 159px 0 40px 0;
  }
}

.catalog__item:last-child::before {
  content: "";
  position: absolute;
  background-image: url("../img/plus.svg");
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  left: 125px;
  top: 26px;

  @media (min-width: $tabletWidth) {
    content: "";
    position: absolute;
    background-image: url("../img/plus.svg");
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    left: 130px;
    top: 50px;

    @media (min-width: $desktopWidth) {
      left: 90px;
      top: 50px;
    }
  }
}

.catalog__item:nth-child(4n) {
  @media (min-width: $desktopWidth) {
    margin-right: 0;
  }
}

.catalog__link-title {
  text-decoration: none;
  margin: 0 0 2px 0;
}

.catalog__item-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $mineShaft;
  text-transform: uppercase;
  max-width: 76px;
  margin: 0;

  @media (min-width: $tabletWidth) {
    margin: 0 0 21px 0;
    max-width: 154px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktopWidth) {
    margin: 2px 0 23px 8px;
    padding: 0;
    font-size: 20px;
    line-height: 21px;
  }
}

.catalog__extra-list {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $tundora;
  width: 142px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tabletWidth) {
    margin: 0 0 23px 0;
    font-size: 16px;
    line-height: 16px;
    width: 255px;
    padding: 0 2px;
  }

  @media (min-width: $desktopWidth) {
    width: 180px;
    padding: 0 15px 0 0;
  }
}

.catalog__extra-term {
  @media (min-width: $tabletWidth) {
    margin: 0;
  }

  @media (min-width: $desktopWidth) {
    margin: 0;
  }
}

.catalog__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-transform: uppercase;
  border: 0;
  background-color: $apple;
  padding: 10px 109px;
  cursor: pointer;
  text-decoration: none;

  @media (min-width: $tabletWidth) {
    padding: 10px 93px;
    display: flex;
    align-self: center;
  }

  @media (min-width: $desktopWidth) {
    padding: 10px 53px;
  }
}

.catalog__button:hover {
  background-color: $appleDark;
}

.catalog__button:active {
  background-color: $appleDark;
  color: rgba(255, 255, 255, 0.3);
}

.catalog__see-more {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $codGray;
  text-transform: uppercase;
  text-align: center;
  margin: 74px 0 8px 0;

  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 22px;
    margin: 0 59px 23px 59px;
    width: 134px;
  }
}

.catalog__description-more {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $tundora;
  text-align: center;
  margin: 0 0 21px 0;

  @media (min-width: $tabletWidth) {
    font-size: 16px;
    line-height: 18px;
    width: 167px;
    margin: 0 40px 87px 40px;
  }
}

.catalog__button-all {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $tundora;
  text-transform: uppercase;
  border: 0;
  background-color: $concrete;
  padding: 10px 90px;
  width: 279px;
  cursor: pointer;

  @media (min-width: $tabletWidth) {
    padding: 10px 60px;
    width: 249px;
  }
}

.catalog__extra-description {
  margin: 0;

  @media (min-width: $desktopWidth) {
    margin: 0;
  }
}

.catalog__button-all:hover {
  background: $galleryDark;
}

.catalog__button-all:active {
  background: $galleryDark;
  color: rgba(68, 68, 68, 0.3);
}
