@import "../abstracts/variables.scss";

.control {
  position: relative;
  display: block;
}

.control__mark {
  position: absolute;
  top: -6px;
  left: -47px;
  width: 30px;
  height: 30px;
  background-color: $white;
  border: 1px solid $silver;

  @media (min-width: $tabletWidth) {
    width: 39px;
    height: 39px;
    left: -60px;
    top: -6px;
  }
}

.control__mark:hover {
  border: 1px solid $silverDark;
}

.control__mark:active {
  opacity: 0.3;
}

.control__input:focus + .control__mark {
  outline: 1px solid $silverDark;
}

.control__input[type="checkbox"]:checked + .control__mark::before {
  position: absolute;
  top: 4px;
  left: 3px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  content: "";
  width: 22px;
  height: 26px;

  @media (min-width: $tabletWidth) {
    top: 8px;
    left: 5px;
    height: 30px;
  }
}

.control__input[type="radio"] + .control__mark {
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-color: $apple;
  border-radius: 50%;
  content: "";

  @media (min-width: $tabletWidth) {
    width: 18px;
    height: 18px;
    top: 9px;
    left: 10px;
  }
}
