@import "../abstracts/variables.scss";
@import "../fonts.scss";

.form-page {
  grid-column: 1 / -1;

  @media (min-width: $tabletWidth) {
    grid-column: 1 / -1;
  }

  @media (min-width: $desktopWidth) {
    grid-column: 1 / -1;
  }
}

.form-page__title-container {
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tabletWidth) {
    width: 709px;
  }

  @media (min-width: $desktopWidth) {
    width: 1220px;
  }
}

.form-page__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  margin: 27px 0 37px 0;
  padding: 0;

  @media (min-width: $tabletWidth) {
    font-size: 60px;
    line-height: 60px;
    margin: 10px 0 54px 50px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 56px 10px;
  }
}

.form-page__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  text-transform: uppercase;
  margin: 0 0 36px 0;

  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    margin: 0 0 65px 50px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 50px 10px;
  }
}

.form-page__programm-wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tabletWidth) {
    width: 708px;
  }

  @media (min-width: $desktopWidth) {
    display: flex;
    flex-direction: row;
    margin: 0 auto 45px auto;
    padding: 14px 0 0 0;
    width: 1220px;
  }
}

.form-page__label-name {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $tundora;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2px 0 11px 0;

  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    margin: 0 0 20px 51px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 19px 10px;
  }
}

.form-page__label-weight {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $tundora;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 11px 0;

  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    margin: 0 0 18px 51px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 17px 10px;
  }
}

.form-page__label-age {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $tundora;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 5px 0;

  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    margin: 0 0 22px 50px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 22px 10px;
  }
}

.form-page__label-email {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  margin: 0 0 14px 0;
  align-items: center;


  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;
    margin: 2px 0 17px 51px;
    color: $tundora;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 0 10px;
  }
}

.form-page__label-telephone {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  margin: 22px 0 0 0;


  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;
    margin: 2px 0 14px 46px;
    color: $tundora;
  }

  @media (min-width: $desktopWidth) {
    margin: 0;
  }
}

.form-page__telephone-span {
  @media (min-width: $tabletWidth) {
    margin: 13px 0 0 0;
  }

  @media (min-width: $desktopWidth) {
    margin: 14px 0 0 0;
  }
}

.form-page__input-name {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $tundora;
  text-transform: uppercase;
  border: 1px solid $mercury;
  background-color: $white;
  width: 208px;
  height: 44px;
  margin: 2px 0 0 13px;
  padding: 0 0 0 15px;


  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 0 18px;
    height: 48px;
    width: 545px;
    margin: 0 0 0 16px;
  }

  @media (min-width: $desktopWidth) {
    width: 484px;
    height: 48px;
    padding: 0 0 0 20px;
  }
}

.form-page__input-weight {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $tundora;
  text-transform: uppercase;
  border: 1px solid $mercury;
  background-color: $white;
  width: 185px;
  height: 44px;
  margin: 0 0 0 14px;
  padding: 0 0 0 15px;


  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 5px 20px;
    width: 513px;
    margin: 0 0 0 19px;
  }

  @media (min-width: $desktopWidth) {
    width: 455px;
    height: 43px;
    padding: 3px 0 3px 18px;
    margin: 0 0 0 17px;
  }
}

.form-page__input-age {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $tundora;
  text-transform: uppercase;
  border: 1px solid $mercury;
  background-color: $white;
  width: 154px;
  height: 44px;
  margin: 2px 0 0 0;
  padding: 0 0 0 15px;


  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 0 18px;
    width: 475px;
    margin: 0 0 0 8px;
    height: 49px;
  }

  @media (min-width: $desktopWidth) {
    width: 417px;
    padding: 1px 0 0 16px;
    margin: 0 0 0 8px;
  }
}

.form-page__programm-list {
  border-top: 1px solid $mercury;
  border-bottom: 1px solid $mercury;
  margin: 0;
  padding: 28px 0 0 45px;
  list-style-type: none;


  @media (min-width: $tabletWidth) {
    border: 1px solid $mercury;
    margin: 22px 0 45px 47px;
    padding: 30px 0 9px 90px;
    width: 540px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 0 80px;
    width: 472px;
    padding: 30px 0 9px 85px;
  }
}

.form-page__programm-item {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $mineShaft;
  text-transform: uppercase;
  margin: 0 0 25px 0;

  width: 230px;

  @media (min-width: $tabletWidth) {
    margin: 0 0 22px 0;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktopWidth) {
    width: 240px;
  }
}

.form-page__contacts {
  margin: 33px 0 0 0;
  position: relative;

  width: 279px;

  @media (min-width: $tabletWidth) {
    margin: 0 0 33px 0;
    width: 708px;
  }

  @media (min-width: $desktopWidth) {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 1220px;
    margin: 0 0 70px 0;
    justify-content: space-between;
  }
}

.form-page__form-contacts {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  margin: 0;
  position: relative;
  background-color: $white;
  padding: 0 20px 0 0;


  @media (min-width: $tabletWidth) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 70px 0;
    padding: 0 50px 0 46px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 72px 0;
    padding: 0 50px 0 7px;
  }
}

.form-page__input-mail {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $tundora;
  text-transform: uppercase;
  border: 1px solid $mercury;
  background-color: $white;
  margin: 0 0 0 8px;
  width: 201px;
  height: 45px;
  padding: 0 0 0 15px;


  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;
    padding: 4px 0 5px 18px;
    width: 527px;
    height: 40px;
    margin: 2px 0 0 20px;
  }

  @media (min-width: $desktopWidth) {
    width: 464px;
    height: 41px;
    margin: 0 0 0 21px;
  }
}

.form-page__input-telephone {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $tundora;
  text-transform: uppercase;
  border: 1px solid $mercury;
  background-color: $white;
  margin: -10px 0 0 6px;
  width: 185px;
  height: 44px;
  padding: 0 0 0 16px;
  position: relative;


  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;
    padding: 3px 0 5px 20px;
    width: 514px;
    margin: 0 0 0 15px;
    height: 42px;
  }

  @media (min-width: $desktopWidth) {
    width: 449px;
    height: 41px;
    margin: 3px 0 0 15px;
  }
}

.form-page__form-comment {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  margin: 0 0 38px 0;
  padding: 0 25px 0 0;
  background-color: $white;


  @media (min-width: $tabletWidth) {
    font-size: 36px;
    line-height: 36px;
    margin: 15px 0 76px 0;
    padding: 0 35px 0 46px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 76px 0;
    padding: 0 35px 0 7px;
  }
}

.form-page__comment {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $tundora;
  text-transform: uppercase;
  border: 1px solid $mercury;
  background-color: $white;
  width: 263px;
  height: 140px;
  padding: 6px 0 0 15px;
  resize: none;


  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;
    width: 614px;
    height: 162px;
    padding: 9px 0 0 17px;
    margin: 0 0 0 47px;
  }

  @media (min-width: $desktopWidth) {
    width: 1195px;
    margin: 0 0 0 10px;
    padding: 7px 0 0 15px;
  }
}

.form-page__add-form {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  margin: 0 0 39px 0;
  background-color: $white;
  padding: 0 24px 0 0;


  @media (min-width: $tabletWidth) {
    font-size: 36px;
    line-height: 36px;
    margin: 40px 0 64px 13px;
    padding: 14px 42px 0 38px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 60px 0;
    padding: 0 40px 0 10px;
  }
}

.form-page__add-list {
  margin: 0;
  list-style-type: none;

  padding: 0 0 0 25px;

  @media (min-width: $tabletWidth) {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 0 2px 82px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 0 10px;
    padding: 0 0 0 57px;
  }
}

.form-page__add-item {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $black;
  text-transform: uppercase;
  margin: 0 0 25px 20px;


  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;
    margin: 0 160px 42px 0;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 162px 61px 0;
  }
}

.form-page__add-item:nth-child(2) {
  @media (min-width: $tabletWidth) {
    margin: 0 0 0 25px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 197px 0 0;
  }
}


.form-page__add-item:last-child {
  @media (min-width: $tabletWidth) {
    margin: 0 0 0 117px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 0 95px;
  }
}


.form-page__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-transform: uppercase;
  border: 0;
  background-color: $apple;
  padding: 10px 77.5px;
  margin: 0 0 6px 0;
  cursor: pointer;


  @media (min-width: $tabletWidth) {
    margin: 0 0 0 0;
    padding: 16px 64px;
    font-size: 20px;
  }

  @media (min-width: $desktopWidth) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 568px;
    height: 52px;
    margin: 0 0 0 10px;
  }
}

.form-page__button:hover {
  background-color: $appleDark;
}

.form-page__button:active {
  background-color: $appleDark;
  color: rgba(255, 255, 255, 0.3);
}

.form-page__text {
  font-family: "arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $black;
  text-align: center;


  @media (min-width: $tabletWidth) {
    margin: 0 0 0 61px;
    font-size: 16px;
    line-height: 16px;
    padding: 0;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 0 82px;
  }
}

.form-page__button-wrapper {
  margin: 0 auto 32px auto;
  width: 280px;


  @media (min-width: $tabletWidth) {
    display: flex;
    align-items: center;
    margin: 0 auto 72px auto;
    width: 625px;
    padding: 0 0 0 13px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 auto 82px auto;
    width: 1220px;
    padding: 0;
  }
}

.form-page__fieldset-cat {
  margin: 0 0 13px 0;
  border: 0;
  padding: 0;
  width: 280px;

  @media (min-width: $tabletWidth) {
    margin: 0 0 28px 0;
    width: 708px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 3px 0;
  }
}

.form-page__fieldset-programm {
  margin: 0 0 25px 0;
  border: 0;
  padding: 0;

  box-sizing: border-box;

  @media (min-width: $tabletWidth) {
    margin: 0 0 30px 0;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 3px 0;
  }
}

.form-page__fieldset-owner {
  margin: 0 auto 22px auto;
  border: 0;
  padding: 0;
  width: 279px;


  @media (min-width: $tabletWidth) {
    margin: 0 auto 33px auto;
    width: 708px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 auto;
    width: 1220px;
  }
}

.form-page__form-br {
  @media (min-width: $tabletWidth) {
    display: none;
  }
}

.form-page__fieldset-comment {
  margin: 0 auto 19px auto;
  border: 0;
  padding: 0;
  width: 280px;

  box-sizing: border-box;

  @media (min-width: $tabletWidth) {
    margin: 0 auto 49px auto;
    width: 708px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 auto 3px auto;
    width: 1220px;
  }
}

.form-page__fieldset-add {
  margin: 0 auto 16px auto;
  border: 0;
  padding: 0;
  width: 280px;


  @media (min-width: $tabletWidth) {
    width: 708px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 auto 3px auto;
    width: 1220px;
    box-sizing: border-box;
  }
}

.form-page__container-email {
  position: relative;
}

.form-page__container-email::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 15px;
  background-image: url("../img/icon_email_mob.svg");
  background-repeat: no-repeat;
  top: 18px;
  right: 16px;

  @media (min-width: $tabletWidth) {
    position: absolute;
    content: "";
    width: 20px;
    height: 15px;
    background-image: url("../img/icon_email.svg");
    background-repeat: no-repeat;
    top: 23px;
    right: 45px;
  }

  @media (min-width: $desktopWidth) {
    top: 21px;
    right: 20px;
  }
}

.form-page__container-telephone {
  position: relative;
}

.form-page__container-telephone::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/phone_mob.svg");
  background-repeat: no-repeat;
  top: 3px;
  right: 15px;
  z-index: 1;

  @media (min-width: $tabletWidth) {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    top: 19px;
    right: 45px;
  }

  @media (min-width: $desktopWidth) {
    top: 18px;
    right: 9px;
  }
}

.form-page__age {
  margin: 0 12px 0 0;


  @media (min-width: $tabletWidth) {
    margin: 3px 9px 0 0;
  }
}

.form-page__contacts-container {
  position: relative;
}

.form-page__contacts-container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: $apple;
  top: 17px;
  left: 0;

  @media (min-width: $tabletWidth) {
    top: 22px;
  }
}

.form-page__comment-container {
  position: relative;

  @media (min-width: $desktopWidth) {
    margin-bottom: 65px;
  }
}

.form-page__comment-container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: $apple;
  top: 16px;
  z-index: -1;
  left: 0;

  @media (min-width: $tabletWidth) {
    top: 20px;
  }
}

.form-page__add-container {
  position: relative;
}

.form-page__add-container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: $apple;
  top: 15px;
  z-index: -1;
  left: 0;

  @media (min-width: $tabletWidth) {
    top: 35px;
  }

  @media (min-width: $desktopWidth) {
    top: 20px;
  }
}

.form-page__input-name--condition:hover,
.form-page__input-weight--condition:hover,
.form-page__input-age--condition:hover,
.form-page__input-mail--condition:hover,
.form-page__input-telephone--condition:hover,
.form-page__comment--condition:hover {
  border: 1px solid $silver;
}

.form-page__input-name--condition:active,
.form-page__input-weight--condition:active,
.form-page__input-age--condition:active,
.form-page__input-mail--condition:active,
.form-page__input-telephone--condition:active {
  border: 2px solid $tundora;
}

.form-page__input-name--condition:invalid,
.form-page__input-weight--condition:invalid,
.form-page__input-age--condition:invalid,
.form-page__input-mail--condition:invalid,
.form-page__input-telephone--condition:invalid {
  border: 2px solid $vividTangerine;
}
