@import "../abstracts/variables.scss";
@import "../fonts.scss";

.navigation {
  position: relative;
  min-height: 1px;
}

.navigation__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 12px 0 0 0;

  @media (min-width: $tabletWidth) {
    display: flex;
    flex-direction: row;
    min-width: 440px;
    margin-top: 18px;
  }

  @media (min-width: $desktopWidth) {
    display: flex;
    flex-direction: row;
    min-width: 480px;
    margin: 16px 0 0 0;
  }
}

.navigation__item {
  padding: 23px 0 22px 0;
  border-top: 1px solid $mercury;
  display: flex;
  justify-content: center;
  text-align: center;

  @media (min-width: $tabletWidth) {
    border: 0;
    padding: 0;
  }
}

.navigation__item:last-child {
  @media (min-width: $tabletWidth) {
    padding: 0 0 12px 1px;
  }
}

.navigation__link {
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  position: relative;

  @media (min-width: $tabletWidth) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $desktopWidth) {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
}

.navigation__link--color {
  @media (min-width: $desktopWidth) {
    color: $white;
    font-weight: 400;
  }
}

.navigation__link:hover {
  opacity: 0.6;
}

.navigation__link:active {
  opacity: 0.3;
}

.navigation__active-index::before {
  @media (min-width: $tabletWidth) {
    content: "";
    width: 64px;
    height: 2px;
    background-color: $apple;
    top: 30px;
    left: 0;
    position: absolute;
  }

  @media (min-width: $desktopWidth) {
    content: "";
    top: 36px;
    left: 0;
    width: 68px;
    position: absolute;
    background-color: $white;
    z-index: 1;
  }
}

.navigation__active-catalog::before {
  @media (min-width: $tabletWidth) {
    width: 154px;
    content: "";
    height: 2px;
    background-color: $apple;
    top: 30px;
    left: 0;
    position: absolute;
  }

  @media (min-width: $desktopWidth) {
    width: 168px;
    top: 35px;
    left: 1px;
  }
}

.navigation__active-form::before {
  @media (min-width: $tabletWidth) {
    content: "";
    width: 154px;
    height: 2px;
    background-color: $apple;
    top: 30px;
    left: 0;
    position: absolute;
  }

  @media (min-width: $desktopWidth) {
    width: 168px;
    top: 35px;
  }
}

.navigation__toggle {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -30px;
  right: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  @media (min-width: $tabletWidth) {
    display: none;
  }
}

.navigation__item:not(:last-child) {
  @media (min-width: $tabletWidth) {
    margin-right: 36px;
  }

  @media (min-width: $desktopWidth) {
    margin-right: 34px;
  }
}

.navigation__item:first-child {
  @media (min-width: $tabletWidth) {
    margin-right: 34px;
  }
}

.navigation--closed .navigation__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
}

.navigation--opened .navigation__toggle {
  top: -35px;
  right: 18px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 11px;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(46deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobileWidthOnly) {
  .navigation--closed .navigation__item {
    display: none;
  }
}

.navigation--nojs .navigation__toggle {
  display: none;
}

.navigation--nojs .navigation__wrapper {
  position: static;
  min-height: 0;
}

.navigation--nojs .navigation__item {
  display: block;
}
