@import "../abstracts/variables.scss";
@import "../fonts.scss";

.nutrition-program {
  display: flex;
  flex-direction: column;
  margin: 0 auto 22px auto;
  width: 280px;


  @media (min-width: $tabletWidth) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 715px;
  }

  @media (min-width: $desktopWidth) {
    display: flex;
    margin: 0 auto 71px auto;
    padding: 0 0 0 15px;
    width: 1220px;
  }
}

.nutrition-program__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tabletWidth) {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 10px;
    margin: 0 0 47px 0;
    box-sizing: border-box;
  }

  @media (min-width: $desktopWidth) {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
}

.nutrition-program__item {
  background-color: $concrete;
  padding: 30px 0 18px 20px;
  position: relative;
  width: 260px;

  @media (min-width: $tabletWidth) {
    padding: 76px 316px 54px 53px;
    box-sizing: border-box;
  }
}

.nutrition-program__item:first-child {
  margin-bottom: 20px;

  @media (min-width: $tabletWidth) {
    width: 708px;
    margin: 0 0 33px 0;
  }

  @media (min-width: $desktopWidth) {
    padding: 77px 51px 55px 52px;
    margin: 0 80px 0 0;
    width: 570px;
  }
}

.nutrition-program__item:last-child {
  @media (min-width: $tabletWidth) {
    width: 708px;
  }

  @media (min-width: $desktopWidth) {
    padding: 77px 61px 60px 52px;
    width: 570px;
  }
}

.nutrition-program__item--slim {
  position: relative;
}

.nutrition-program__item--slim::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 53px;
  background-image: url("../img/cat-slim_mobile.svg");
  background-repeat: no-repeat;
  top: 20px;
  left: 21px;

  @media (min-width: $tabletWidth) {
    background-image: url("../img/cat-slim_tablet.svg");
    background-repeat: no-repeat;
    width: 200px;
    height: 211px;
    top: 80px;
    left: 445px;
  }

  @media (min-width: $desktopWidth) {
    background-image: url("../img/cat-slim_desck.svg");
    background-repeat: no-repeat;
    width: 100px;
    height: 106px;
    top: 43px;
    left: 52px;
  }
}

.nutrition-program__item--pro {
  position: relative;
}

.nutrition-program__item--pro::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 50px;
  background-image: url("../img/cat-pro_mobile.svg");
  background-repeat: no-repeat;
  top: 24px;
  left: 13px;

  @media (min-width: $tabletWidth) {
    background-image: url("../img/cat-pro_tablet.svg");
    background-repeat: no-repeat;
    width: 268px;
    height: 200px;
    top: 90px;
    left: 411px;
  }

  @media (min-width: $desktopWidth) {
    background-image: url("../img/cat-pro_desck.svg");
    background-repeat: no-repeat;
    width: 134px;
    height: 100px;
    top: 47px;
    left: 33px;
  }
}

.nutrition-program__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  color: $black;
  text-transform: uppercase;
  margin: 0 0 29px 72px;
  display: block;
  padding: 0;

  @media (min-width: $tabletWidth) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 26px 0;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 75px 162px;
  }
}

.nutrition-program__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  margin: 0 0 19px 0;
  padding-bottom: 22px;
  display: block;
  border-bottom: 1px solid $alto;
  width: 227px;

  @media (min-width: $tabletWidth) {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
    border: 0;
    margin: 0 0 51px 0;
    width: 340px;
  }

  @media (min-width: $desktopWidth) {
    text-align: start;
    margin: 0 0 26px 0;
    width: 467px;
  }
}

.nutrition-program__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0;
  }
}

.nutrition-program__link::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 10px;
  background-image: url("../img/link-small.svg");
  background-repeat: no-repeat;
  top: 7px;
  left: 100px;

  @media (min-width: $tabletWidth) {
    left: 133px;
    top: 9px;
  }
}

.nutrition-program__link:hover::before {
  background-image: url("../img/link-long.svg");
  width: 35px;
  background-repeat: no-repeat;
}

.nutrition-program__link:active::before {
  background-image: url("../img/link-long.svg");
  width: 35px;
  background-repeat: no-repeat;
  opacity: 0.3;
}
