@import "../abstracts/variables.scss";
@import "../fonts.scss";

.page-header {
  display: flex;
  flex-direction: column;
  margin: 9px auto 0 auto;
  padding: 0;
  grid-column: 1 / -1;
  width: 320px;

  @media (min-width: $tabletWidth) {
    display: flex;
    flex-direction: row;
    grid-column: 1 / -1;
    margin: 0 auto 50px auto;
    padding: 25px 0 0 14px;
    width: 708px;
  }

  @media (min-width: $desktopWidth) {
    display: flex;
    flex-direction: row;
    grid-column: 1 / -1;
    margin: 54px auto 72px auto;
    justify-content: start;
    width: 1220px;
    padding: 0;
  }
}

.page-header__logo-image {
  margin: 2px 0 0 20px;

  @media (min-width: $tabletWidth) {
    margin: 0 94px 0 0;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 540px 0 9px;
  }
}

.page-header__logo-image:hover {
  opacity: 0.8;
}

.page-header__logo-image:active {
  opacity: 0.6;
}
