@import "../fonts.scss";
@import "../abstracts/variables.scss";

.program-example {
  display: flex;
  flex-direction: column;
  position: relative;


  @media (min-width: $tabletWidth) {
    display: flex;
    flex-direction: column;
    background-color: $white;
  }

  @media (min-width: $desktopWidth) {
    display: flex;
    flex-direction: row;
    background-color: $concrete;
    justify-content: center;
    flex-wrap: nowrap;
    min-width: 1220px;
  }
}

.program-example__container {
  background-color: $concrete;


  @media (min-width: $tabletWidth) {
    background-color: $white;
  }
}

.program-example__wrapper {
  background-color: $concrete;
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding: 25px 0 0 0;


  @media (min-width: $tabletWidth) {
    background-color: $white;
    padding: 25px 0 50px 12px;
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktopWidth) {
    margin: 0;
    padding: 72px 0 0 55px;
    background-color: $concrete;
    width: 610px;
    position: relative;
    height: 389px;
  }
}

.program-example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $black;
  margin: 0 0 41px 0;


  @media (min-width: $tabletWidth) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 65px 0;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 147px 0;
    position: absolute;
    top: -135px;
    left: 56px;
  }
}

.program-example__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $tundora;
  max-width: 280px;
  margin: 0;


  @media (min-width: $tabletWidth) {
    font-size: 16px;
    line-height: 24px;
    max-width: 708px;
    margin: 0 0 52px 0;
  }

  @media (min-width: $desktopWidth) {
    max-width: 436px;
    margin: 0;
    padding: 0 0 66px 0;
  }
}

.program-example__information {
  display: flex;
  flex-direction: column;


  @media (min-width: $tabletWidth) {
    display: flex;
    flex-direction: row;
    margin: 0 0 205px 0;
  }

  @media (min-width: $desktopWidth) {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

.program-example__list {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 18px 0;


  @media (min-width: $tabletWidth) {
    margin: 0 120px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 43px 0;
    justify-content: flex-start;
  }
}

.program-example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $silver;
  border-radius: 3px;
  width: 124px;
  padding: 14px 0;
  position: relative;


  @media (min-width: $tabletWidth) {
    margin-right: 41px;
    width: 162px;
  }

  @media (min-width: $desktopWidth) {
    width: 161px;
    padding: 16px 0;
  }
}

.program-example__key {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  text-transform: uppercase;
  margin-bottom: 3px;

  @media (min-width: $tabletWidth) {
    font-size: 30px;
    line-height: 37px;
    margin: 0 0 3px 0;
  }
}

.program-example__value {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: $tundora;
  margin: 0;
  text-align: center;
  position: absolute;
  background-color: $concrete;
  top: 46px;
  z-index: 1;
  min-width: 70px;

  @media (min-width: $tabletWidth) {
    font-size: 14px;
    line-height: 14px;
    background-color: $white;
    margin-top: 14px;
    width: 148px;
  }

  @media (min-width: $desktopWidth) {
    background-color: $concrete;
    margin-top: 17px;
    width: 113px;
    display: block;
  }
}

.program-example__item:last-child .program-example__value {
  @media (min-width: $tabletWidth) {
    width: 143px;
  }

  @media (min-width: $desktopWidth) {
    width: 148px;
  }
}

.program-example__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 27px;
    text-align: right;
    margin: 8px 0 0 0;
  }

  @media (min-width: $desktopWidth) {
    text-align: left;
    margin: 13px 0 0 0;
  }
}

.program-example__value-br {
  @media (min-width: $tabletWidth) {
    display: none;
  }
}

.program-example__subtitle-price {
  @media (min-width: $desktopWidth) {
    margin: 0 0 0 58px;
  }
}
