@import "../abstracts/variables.scss";
@import "../fonts.scss";

.slider__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 30px 0 40px 0;
  position: relative;
  width: 280px;


  @media (min-width: $tabletWidth) {
    background-color: $concrete;
    min-height: 425px;
    justify-content: flex-end;
    padding: 0 0 40px 0;
    margin: 0 auto;
    width: 709px;
  }

  @media (min-width: $desktopWidth) {
    position: relative;
    width: 610px;
    margin: 0;
    height: 385px;
    padding: 0 20px 0 20px;
  }
}

.slider {
  background-color: $concrete;

  @media (min-width: $tabletWidth) {
    background-color: $concrete;
  }
}

.slider__button-wrapper {
  display: flex;
  padding: 0;
  margin: 15px 0 0 0;
  width: 280px;


  @media (min-width: $tabletWidth) {
    padding: 0 30px 23px 81px;
    width: 591px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0;
    justify-content: space-between;
    padding: 1px 0 33px 5px;
  }
}

.slider__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  color: $black;
  cursor: pointer;
  margin: 0 12px 0 30px;


  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $alto;
    margin: 0 26px 0 0;
    padding: 0;
  }

  @media (min-width: $desktopWidth) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $alto;
    margin: 0 0 0 7px;
    padding: 0;
  }
}

.slider__button:hover {
  @media (min-width: $tabletWidth) {
    border-bottom: 1px solid $alto;
  }
}

.slider__button:active {
  @media (min-width: $tabletWidth) {
    border-bottom: 0;
  }
}

.slider__button:last-child {
  margin: 0 11px 0 0;
}

.slider__image {
  margin: -1px 0 4px 0;
  display: flex;

  @media (min-width: $tabletWidth) {
    position: absolute;
    top: -167px;
    left: 69px;
    width: 592px;
    height: 511px;
  }

  @media (min-width: $desktopWidth) {
    top: -177px;
    left: 21px;
  }
}

.slider__range-bar {
  width: 85px;
  height: 14px;
  border-radius: 6px;
  border: 1px solid $alto;
  background-color: $white;
  margin: 2px 9px 0 0;
  position: relative;

  @media (min-width: $tabletWidth) {
    width: 426px;
    border: 0;
    background-color: $alto;
    height: 6px;
    border-radius: 6px;
    margin: 12px 25px 0 0;
  }

  @media (min-width: $desktopWidth) {
    height: 6px;
    background-color: $alto;
    border-radius: 6px;
    margin: 12px 0 0 0;
    position: relative;
    width: 426px;
    padding: 0;
  }
}

.slider__range-bar::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 6px;
  background-color: $apple;
  border-radius: 6px;
  left: 6px;
  top: 4px;

  @media (min-width: $tabletWidth) {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    background-image: url("../img/slider_control_desk.svg");
    background-repeat: no-repeat;
    top: -16px;
    left: 194px;
    background-color: transparent;
    cursor: pointer;
  }

  @media (min-width: $desktopWidth) {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    background-image: url("../img/slider_control_desk.svg");
    background-repeat: no-repeat;
    top: -15px;
    left: 193px;
  }
}


.slider__range-bar::before:active {
  @media (min-width: $tabletWidth) {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    background-image: url("../img/slider_control_pressed.svg");
    background-repeat: no-repeat;
    top: -16px;
    left: 194px;
    background-color: transparent;
    cursor: pointer;
  }
}
