@import "../abstracts/variables.scss";

.social {
  width: 280px;

  @media (min-width: $tabletWidth) {
    margin: 0 135px 0 0;
    padding: 0;
    width: 130px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 390px 0 0;
  }
}

.social__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 19px 0;
  border-top: 1px solid $alto;
  border-bottom: 1px solid $alto;
  width: 280px;
  padding: 16px 0 12px 0;

  @media (min-width: $tabletWidth) {
    margin: 0;
    border: none;
    width: 125px;
  }

  @media (min-width: $desktopWidth) {
    padding: 13px 0 12px 0;
  }
}

.social__item:not(:last-child) {
  margin-right: 33px;

  @media (min-width: $tabletWidth) {
    margin: 0 26px 0 0;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 27px 0 0;
  }
}

.social__item:first-child {
  margin: 0 25px 0 80px;

  @media (min-width: $tabletWidth) {
    margin: 0 28px 0 0;
  }
}

.social__icon-facebook {
  fill: $concrete;
  stroke: $doveGray;
}

.social__icon-facebook:hover {
  stroke: $apple;
}

.social__icon-facebook:active {
  stroke: $apple;
  opacity: 0.3;
}

.social__icon-vk,
.social__icon-inst {
  fill: $doveGray;
}

.social__icon-vk:hover,
.social__icon-inst:hover {
  fill: $apple;
}

.social__icon-vk:active,
.social__icon-inst:active {
  fill: $apple;
  opacity: 0.3;
}
