$black: #000000;
$concrete: #f2f2f2;
$tundora: #444444;
$alto: #d9d9d9;
$codGray: #111111;
$mineShaft: #222222;
$white: #ffffff;
$apple: #68b738;
$appleDark: #65a83e;
$gallery: #eaeaea;
$galleryDark: #ebebeb;
$vividTangerine: #ff8282;
$mercury: #e7e7e7;
$silver: #cdcdcd;
$doveGray: #666666;
$silverDark: #bababa;

// Viewports

$tabletWidth: 768px;
$desktopWidth: 1440px;
$mobileWidthOnly: 767px;
